adf/weather.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDatabricks1":{"type":"string"},"ls_snowflake":{"type":"string"},"ls_openweathermap":{"type":"string"},"ls_adls_weatherlocal":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/weather')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ForEach for city name","description":"","type":"ForEach","dependsOn":[],"userProperties":[],"typeProperties":{"items":{"value":"@pipeline().parameters.city_list","type":"Expression"},"isSequential":true,"activities":[{"name":"copy from rest api","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"supportRFC5988":"true"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"ds_openweathermap","type":"DatasetReference","parameters":{"city":{"value":"@item()","type":"Expression"}}}],"outputs":[{"referenceName":"ds_bronze_openweathermap","type":"DatasetReference","parameters":{}}]}]}},{"name":"invoke_Notebook","type":"DatabricksNotebook","dependsOn":[{"activity":"ForEach for city name","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/weather/weather_notebook"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"Load_to_Snowflake","type":"Script","dependsOn":[{"activity":"invoke_Notebook","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('ls_snowflake')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"COPY INTO weather_db.weather_schema.weather_gold\nFROM @weather_db.weather_schema.weather_stage\nFILE_FORMAT = (TYPE = CSV SKIP_HEADER=1)\nON_ERROR = 'CONTINUE'\nFORCE = FALSE;"}],"scriptBlockExecutionTimeout":"02:00:00","treatDecimalAsString":false}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"city_list":{"type":"array","defaultValue":["Delhi","Mumbai","Bangalore"]}},"variables":{"city_list":{"type":"Array","defaultValue":["Delhi","Mumbai","Bangalore"]}},"annotations":[],"lastPublishTime":"2026-04-25T05:06:28Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_openweathermap')]","[concat(variables('factoryId'), '/datasets/ds_bronze_openweathermap')]"]},{"name":"[concat(parameters('factoryName'), '/ds_openweathermap')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_openweathermap')]","type":"LinkedServiceReference"},"parameters":{"city":{"type":"string"}},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"/data/2.5/weather?q=@{dataset().city}&appid=xxxxxxxxxxxxxxxxxxxxxxxx","type":"Expression"}},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_bronze_openweathermap')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_weatherlocal')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"weather_@{item()}_@{formatDateTime(addMinutes(utcnow(),330),'yyyy-MM-dd_hh-mm tt')}.json","type":"Expression"},"folderPath":"initial","fileSystem":"bronze"}},"schema":{}},"dependsOn":[]}]}
